# gitignore template for Xilinx Vivado Design Suite
# website: https://www.xilinx.com/support/download.html

# [home]
Vivado*_workspace/**/*.jou
Vivado*_workspace/**/*.log
Vivado*_workspace/**/*.debug
Vivado*_workspace/**/*.str
Vivado*_workspace/**/*.zip
Vivado*_workspace/**/*.tmp
Vivado*_workspace/**/*.rst
Vivado*_workspace/**/*.os
Vivado*_workspace/**/*.js
Vivado*_workspace/**/*.pb
Vivado*_workspace/**/*.dcp
Vivado*_workspace/**/*.hwdef
Vivado*_workspace/**/*.vds
Vivado*_workspace/**/*.veo
Vivado*_workspace/**/*.wdf
Vivado*_workspace/**/*.vdi
Vivado*_workspace/**/*.dmp
Vivado*_workspace/**/*.rpx
Vivado*_workspace/**/*.rpt
Vivado*_workspace/**/*_stub.v
Vivado*_workspace/**/*_stub.vhdl
Vivado*_workspace/**/*_funcsim.v
Vivado*_workspace/**/*_funcsim.vhdl
Vivado*_workspace/**/.project
Vivado*_workspace/**/*.cache
Vivado*_workspace/**/.metadata
Vivado*_workspace/**/*.data
Vivado*_workspace/**/*.ipdefs
Vivado*_workspace/**/.Xil
Vivado*_workspace/**/*.sdk
Vivado*_workspace/**/*.hw
Vivado*_workspace/**/*.ip_user_files
Vivado*_workspace/**/*_synth_*
Vivado*_workspace/**/.jobs

Vivado*_workspace/**/*/*.runs/synth*/*.xml
Vivado*_workspace/**/*/*.runs/synth*/*.txt
Vivado*_workspace/**/*/*.runs/synth*/*.sh
Vivado*_workspace/**/*/*.runs/synth*/*.tcl
Vivado*_workspace/**/*/*.runs/synth*/*.bat
Vivado*_workspace/**/*/*.runs/synth*/*.xdc
Vivado*_workspace/**/!*/*.runs/synth*/*utilization*.rpt
Vivado*_workspace/**/*.runs/synth*/*.xml
Vivado*_workspace/**/*.runs/synth*/*.txt
Vivado*_workspace/**/*.runs/synth*/*.sh
Vivado*_workspace/**/*.runs/synth*/*.tcl
Vivado*_workspace/**/*.runs/synth*/*.bat
Vivado*_workspace/**/*.runs/synth*/*.xdc
Vivado*_workspace/**/!*.runs/synth*/*utilization*.rpt
Vivado*_workspace/**/### project impl
Vivado*_workspace/**/*/*.runs/impl*/*.xml
Vivado*_workspace/**/*/*.runs/impl*/*.html
Vivado*_workspace/**/*/*.runs/impl*/*.txt
Vivado*_workspace/**/*/*.runs/impl*/*.sh
Vivado*_workspace/**/*/*.runs/impl*/*.tcl
Vivado*_workspace/**/*/*.runs/impl*/*.bat
Vivado*_workspace/**/!*/*.runs/impl*/*utilization*.rpt
Vivado*_workspace/**/*.runs/impl*/*.xml
Vivado*_workspace/**/*.runs/impl*/*.html
Vivado*_workspace/**/*.runs/impl*/*.txt
Vivado*_workspace/**/*.runs/impl*/*.sh
Vivado*_workspace/**/*.runs/impl*/*.tcl
Vivado*_workspace/**/*.runs/impl*/*.bat
Vivado*_workspace/**/!*.runs/impl*/*utilization*.rpt
Vivado*_workspace/**/*/*/bd/*/hdl
Vivado*_workspace/**/*/*/*/bd/*/hdl
Vivado*_workspace/**/*/*/bd/*/*.xdc
Vivado*_workspace/**/*/*/*/bd/*/*.xdc
Vivado*_workspace/**/*/*/bd/*/ip/*/*.xdc
Vivado*_workspace/**/*/*/*/bd/*/ip/*/*.xdc
Vivado*_workspace/**/*/*/bd/*/ip/*/*/
Vivado*_workspace/**/*/*/*/bd/*/ip/*/*/
Vivado*_workspace/**/*/*/bd/*/ip/*/*.vhd
Vivado*_workspace/**/*/*/*/bd/*/ip/*/*.vhd
Vivado*_workspace/**/*/*/bd/*/ip/*/*.xml
Vivado*_workspace/**/*/*/*/bd/*/ip/*/*.xml
Vivado*_workspace/**/*.vho
Vivado*_workspace/**/*.htm
Vivado*_workspace/**/ipshared

Vitis*_workspace/**/*.swp
Vitis*_workspace/**/*.so
Vitis*_workspace/**/*.o
Vitis*_workspace/**/*.log
Vitis*_workspace/**/updategit.sh
Vitis*_workspace/**/compile_commands.json
Vitis*_workspace/**/hls/.autopilot/*
.peers.ini
.theia/settings.json
logs/*
Vitis*_workspace/**/vitis_c++/.internal/profiler/**
riscv/*.elf
