
HLS/fetching_ip/solution1/.autopilot/
HLS/fetching_ip/solution1/csim/build/
HLS/fetching_ip/solution1/csim/report/fetching_ip_csim.log
HLS/fetching_ip/solution1/*.log
HLS/fetching_ip/.vitis_hls_log_all.xml
HLS/vitis_hls.log
HLS/fetching_ip/solution1/.debug/fetching_ip.protoinst
HLS/fetching_ip/solution1/sim/autowrap/systemc/
HLS/fetching_ip/solution1/sim/autowrap/testbench/
HLS/fetching_ip/solution1/sim/tv/cdatafile/
HLS/fetching_ip/solution1/sim/report/
HLS/fetching_ip/solution1/sim/.sim.status.tcl
HLS/fetching_ip/solution1/sim/.autosim.status
HLS/fetching_ip/solution1/sim/tv/cdatafile/ref.tcl
HLS/fetching_ip/solution1/sim/verilog/*
HLS/fetching_ip/solution1/sim/wrapc/*
HLS/fetching_ip/solution1/sim/wrapc_pc/*
